
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="overflow-x: hidden; overflow-y: scroll;"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width">
		<title>欢迎加入果库</title>
		<link rel="icon" type="image/png"
			href="http://static.guoku.com/static/images/guoku_favicon.png">
			<link media="all" rel="stylesheet" type="text/css"
				href="http://static.guoku.com/static/css/343529a82201d2afd88a7957d3cf484f/register.css" />

			<script type="text/javascript">
				if (window.ActiveXObject) {
					var ua = navigator.userAgent.toLowerCase();
					var ie = ua.match(/msie ([\d.]+)/)[1]
					if (ie == 6.0)
						location.href = "/ie6/";
				}
			</script>
</head>

<body>
	<div id="wrapper">
		<div id="main">
			<div class="rlcontainer">
				<div class="top">
					<div class="big_logo">
						<a href="/selected/"> <img
							src="http://static.guoku.com/static/images/guoku_icon_56.png" />
						</a>
					</div>
					<form action="/register/" class="rl-form" id="sign-in-up-form"
						method="post" enable="true">
						<div class="content">
							<p>
								<b>注册一个新的帐号</b> | 已有帐号？ <a href="/login/" class="green">请登录</a>
							</p>
							<input name="auth" type="hidden" value= />
							<div class="row">
								<label>昵称</label> <input name="nickname" type="text" value="" /><br />
							</div>
							<div class="row">
								<label>邮箱（用于登录）</label> <input name="email" type="text" value="" /><br />
							</div>
							<div class="row">
								<label>密码（至少 6 位数字或字母）</label> <input name="password"
									type="password" value="" /><br />
							</div>
							<input type="checkbox" checked /> <span>同意果库<a
								href="/agreement/">《使用协议》</a></span> <input type="submit" value="注册"
								class="btn-v2 ml80" />
						</div>
					</form>
				</div>
				<div class="bottom">
					<div class="content">
						第三方帐号快速注册 <a href="/sina/login/"><img
							src="http://static.guoku.com/static/images/weibo_20x16.jpg"
							alt="新浪微博">新浪微博</a> <a href="/taobao/login/"><img
							src="http://static.guoku.com/static/images/taobao_20x15.jpg"
							alt="淘宝网">淘宝网</a>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

