<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuguo.front.repository.CommentDao">
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into product_comment(content,user_id,product_id)
		values(#{content},#{user.id},#{productId})
	</insert>
	
	<select id="getComment" parameterType="int" resultType="Comment">
		select * from product_comment c where c.product_id = #{id} 
	</select>
	
	<select id="getAllComment" parameterType="String" resultType="Comment">
		select * from product_comment
	</select>
</mapper>