<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.kuguo.front.repository.ProductDao">
	<resultMap type="product" id="product">
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="id" property="id"/>
		<result column="picture" property="picture"/>
		<result column="hots" property="hots"/>
		<result column="favorite_num" property="favorite_num"/>
		<result column="create_time" property="create_time"/>
		<result column="price" property="price"/>
		<result column="order_link" property="order_link"/>
		<association property="user" column="user_id" javaType="User">
			<id property="id" column="user_id"/>
			<result property="name" column="user_name"/>
			<result property="head" column="user_head"/>
			<result property="bio" column="user_bio"/>
		</association>
		
		<association property="comment" column="comment_id" javaType="Comment">
			<id property="id" column="comment_id"/>
			<result property="content" column="comment_content"/>
			<result property="poke" column="comment_poke"/>
			<result property="hoot" column="comment_hoot"/>
			<result property="create_time" column="comment_time"/>
		</association>
	</resultMap>
	
	<select id="getAll" parameterType="int" resultMap="product">
		select 
			p.id,
			p.name,
			p.hots,
			p.picture,
			p.user_id,
			u.name user_name,
			u.head user_head,
			u.bio user_bio,
			c.id comment_id,
			c.content comment_content,
			c.poke comment_poke,
			c.hoot comment_hoot,
			c.create_time comment_time
		from 
			product p,user u,product_comment c
		where 
			p.user_id = u.id and
			p.id = c.product_id
		group by c.product_id
		order by p.create_time desc
		limit #{page},20
	</select>
	
	<select id="get" parameterType="int" resultMap="product">
		select
		 	p.id,
			p.name,
			p.hots,
			p.picture,
			p.user_id,
			p.favorite_num,
			p.order_link,
			p.price,
			p.create_time,
			u.name user_name,
			u.head user_head,
			u.bio user_bio
		from
			product p,user u
		where
			p.user_id = u.id and
			p.id = #{id}
	</select>
	
	<select id="getPop" parameterType="int" resultMap="product">
		select 
			p.id,
			p.name,
			p.hots,
			p.user_id,
			p.picture,
			u.name user_name,
			u.head user_head,
			c.id comment_id,
			c.content comment_content,
			c.poke comment_poke,
			c.hoot comment_hoot,
			c.create_time comment_time
		from 
			product p,user u,product_comment c
		where 
			p.user_id = u.id and
			p.id = c.product_id
		group by c.product_id
		order by p.hots desc
		limit 30
	</select>
	
	<insert id="save" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
		insert into product (
			name,picture,order_link,brand,price,user_id,channel
		)
		values (
			#{name}, #{picture}, #{order_link},#{brand}, #{price}, #{user.id}, #{channel}
		)
		<selectKey keyProperty="id" resultType="long">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper> 
