<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.kuguo.front.repository.ProductDao">
	<resultMap type="product" id="product">
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="id" property="id"/>
		<result column="picture" property="picture"/>
		<result column="hots" property="hots"/>
		<association property="user" column="user_id" javaType="User">
			<id property="id" column="user_id"/>
			<result property="name" column="user_name"/>
			<result property="head" column="user_head"/>
		</association>
	</resultMap>

	<select id="getAll" parameterType="int" resultMap="product">
		select 
			p.create_time,
			p.id,
			p.name,
			p.description,
			p.hots,
			p.picture,
			p.user_id,
			u.name user_name,
			u.head user_head 
		from 
			product p,user u 
		where 
			p.user_id = u.id 
		limit #{page},20
	</select>
	
	<select id="get" parameterType="int" resultType="Product">
		select * from product where id = #{id}
	</select>
	
	<insert id="save" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
		insert into product (
			name,picture,order_link,description,brand,price,user_id,channel
		)
		values (
			#{name}, #{picture}, #{order_link}, #{description}, #{brand}, #{price}, #{user.id}, #{channel}
		)
	</insert>
</mapper> 
